extends ../layout

block content
  .container
    .row
      h5= title    
    #content.row
      label Overall Win/Loss Rate for #{firstParticipant}: #{overallWinLossRate}
    if numGamesWith2ndParticipant > 0
      #content.row
        label Win/Loss Rate for #{firstParticipant} against #{secondParticipant}: #{specificWinLossRate}